# Скомпилированные бинарники Go (если вдруг скомпилируешь локально)
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Папка, которую создает Air (там лежит бинарник для авторелоада)
tmp/

# Настройки твоей IDE (GoLand)
.idea/
.vscode/

# Системные файлы macOS (чтобы не мусорить в репозитории)
.DS_Store
.AppleDouble
.LSOverride

# Файлы с переменными окружения (СЕКРЕТЫ НИКОГДА НЕ ПУШИМ В GIT!)
.env

# Папки для загрузок и файлов (которые мы обсуждали на будущее)
storage/
uploads/

# Папка с зависимостями (если решишь использовать команду go mod vendor)
vendor/

offers_for_ai.json
exports/*